/* TOPBAR */
.topbar-logo {
    height: 28px;
    width: auto;
    object-fit: contain;
  }

  .topbar-title {
    font-weight: 800;
    letter-spacing: .4px;
    font-size: 1.05rem;
    color: #0b1b2b;
    text-transform: uppercase;
    white-space: nowrap;
  }

  @media (max-width: 576px) {
    .topbar-title { display: none; } /* biar mobile tidak penuh */
    .topbar-logo { height: 26px; }
  }

/* APP LOADER */
.app-loader {
    position: fixed;
    inset: 0;
    z-index: 9999;

    display: flex;                 /* PENTING */
    align-items: center;           /* center vertical */
    justify-content: center;       /* center horizontal */

    background: rgba(255, 255, 255, 0.85);

    opacity: 0;
    visibility: hidden;
    transition: opacity .15s ease;
  }

  .app-loader.show {
    opacity: 1;
    visibility: visible;
  }

  .indicator-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dee2e6;
}

.indicator-table th {
    background-color: #f8f9fa;
    padding: 12px;
    font-weight: 600;
    border: 1px solid #dee2e6;
    color: #6c757d;
}

.indicator-table td {
    padding: 15px;
    border: 1px solid #dee2e6;
}

.signal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.signal.green {
    background-color: #28a745;
}

.signal.yellow {
    background-color: #ffc107;
}

.signal.red {
    background-color: #dc3545;
}


